[submodule "third_party/tarsier"]
	path = third_party/tarsier
	url = https://github.com/neuromorphic-paris/tarsier.git
[submodule "third_party/sepia"]
	path = third_party/sepia
	url = https://github.com/neuromorphic-paris/sepia.git
[submodule "third_party/hummingbird"]
	path = third_party/hummingbird
	url = https://github.com/neuromorphic-paris/hummingbird.git
[submodule "third_party/CppNumericalSolvers"]
	path = third_party/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
